body {
	font-family: 'Open Sans', sans-serif;
	background: #F9F8F4;
}

body a {
	color: #5E6472;
	text-decoration: underline;
}

body a:visited {
	color: #5E6472;
	text-decoration: underline;
}

nav a {
	margin-right: 15px;
}

nav {
	padding: 10px;
}

p {
	width: 100%;
}

.container {
	margin-top: 40px;
}

button.btn {
	cursor: pointer;
	background: #FFA69E;
	color: #5E6472;
	border: 1px solid #5E6472;
}

button.btn:hover {
	background: #5E6472;
	color: #FFA69E;	
	border: 1px solid #FFA69E;
}

button.btn-secondary {
	background: #5E6472;
	color: #FFA69E;	
	border: 1px solid #FFA69E;	
	padding: 10px 40px;
}

button.btn-secondary:hover {
	background: #FFA69E;
	color: #5E6472;
	border: 1px solid #5E6472;
}

h1 {
	color: #5E6472;
	margin-bottom: 20px;
}

.rule {
	border: 1px solid #ccc;
	min-height: 300px;
	padding: 10px;
	margin-top: 10px;
	font-family: arial, serif;
	background: #F4F4F8;
	font-size: 20px;
}

.selector {
	display: inline-block;
}

.tie {
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-rule {
	margin-left: 22px;
}

#results {
	margin-top: 20px;
	text-align: center;
	font-size: 28px;
	color: #5E6472;
	transition: background 1s ease-in;
}

#results.correct {
	background-color: #B8F2E6;
}

#results.wrong {
	background-color: #FFA69E;
}